# requirements.txt

# Core Django framework
django>=4.2

# Django REST framework for building APIs
djangorestframework

# For handling Cross-Origin Resource Sharing (CORS)
django-cors-headers
dotenv
# Production WSGI server for Python
gunicorn

# For parsing database URLs from Render's environment
dj-database-url

# PostgreSQL adapter for Python
psycopg2-binary

# For serving static files in production
whitenoise
